.test1 {
  background-image: url('../images/flags.png');
  width: 20px;
  height: 14px;
  background-position: -1049px 0;
}

.test2 {
  background-image: url('../images/flags.png');
  width: 20px;
  height: 14px;
  background-position: -2171px  0;
}